/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Regular.ttf");
}

html{
    font-family: "Montserrat Light", serif;
    font-size: 18px;

}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* User styles */

.button-callback{
	border:1px solid #ccc;
	background: Brown;
    border-radius: 15px;
	padding: 5px;
	text-decoration: none;
}

.buttons-on-first-content{
    margin-top: 72px;
}

.container-menu, .container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.container-menu{
    height: 90px;
    width: 100%;
    background: #E5E5E5;
}

.container-footer{
    height: 120px;
    width: 100%;
    background: dimgray;
}


.container-logo{
    height: 40px;
    width: 120px;
}

.container-menu-buttons {
    width: 50%;
}

.container-footer-buttons {
    width: 80%;
}

.container-menu-contacts{
    display: flex;
    flex-direction: column;
}

.callback-first-content, .video-first-content{
	border: none;
    border-radius: 32px;
	padding: 19px 38px 19px 38px;
	text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    align-content: center;
    cursor: pointer;
    font-weight: lighter;
}

.callback-first-content{
    background-color: rgba(238, 62, 53, 1);
    color: snow;

}

.chapter-box{
    display: flex;
    flex-direction: column;
}

.contacts-box{
    display: flex;
    flex-direction: row;
    margin: 80px 17% 0 17%;
    align-items: center;
}

.contacts-box-text{
    padding: 0 0 0 5%;
    text-align: center;
}

.contacts-point{
    margin: 4% 0 4% 0;
}

.how-we-work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px 17% 150px 17%;
    justify-content: space-evenly;

}

.how-we-work-text-box{
    position: absolute;
    top: 42px;
    left: 100px;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.how-we-work-paragraph{
    font-size: 28px;
}

.how-we-work-inside-text{
    margin-top: 14px;
}

.how-we-work-item{
    position: relative;
    margin: 100px 200px 100px 0;
}



.video-first-content{
    background-color: rgba(255, 255, 255, 1);
}

.first-content{
    height: 640px;
    width: 100%;
    background: linear-gradient( rgba(13, 13, 13, 0.7), rgba(13, 13, 13, 0.7) ), url(/static/img/main_image.svg) center center;
}

.footer-buttons-list{
    font-size: 18px;
}

.img-callback{
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px 10px 0 10px;
}

.img-how-we-work{
    width: 180px;
    height: 200px;
}

.img-instagramm{
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px 10px 0 10px;
    fill: lightgrey;
}

.img-icon-video{
    width: 22px;
    height: 22px;
    float: left;
    display: unset;
}

.img-opportunity{
    height: 380px;
    width: 790px;
    margin: 24px 0 76px 0;
}

.img-service{
    width: 135px;
    height: 124px;
    margin: auto;
}

.img-service-item{
    width: 45%;
}

.img-technology{
    width: 600px;
    height: 500px;
}

.link-footer-text{
    color: lightgrey;
}

.main-text{
    font-size: 64px;
    font-weight: bold;
    color: snow;
    padding: 153px 0 0 20%;
}

.menu-button{
    margin: 0 3% 0 3%;
    color: black;
}

.footer-button{
    margin: 0 3% 0 3%;
    color: lightgrey;
}

.menu-button:hover, .footer-button:hover{
    font-weight: bolder;
}

.menu-buttons-list, .footer-buttons-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu-buttons-list{
    font-size: 20px;
}

.opportunities{
    display: flex;
    flex-direction: column;
    margin: 80px 17% 0 17%;
}

.box-paragraph{
    margin-top: 30px;
    font-size: 28px;
    font-weight: bolder;
}

.box-inside-text{
    margin-top: 20px;
    text-align: justify
}

.float-img-left{
    float: left;
    margin: 0 5% 5% 0;
}

.float-img-right{
    float: right;
    margin: 0 0 5% 5%;
}

.opportunities-item-box{
    display: flex;
    flex-direction: row;
}

.opportunity-text-box{
    margin-top: 24px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 380px;
}

.paragraph-text{
    font-size: 44px;
    font-weight: bold;
    margin: 230px auto;
    margin-bottom: 0;
}

.services-box{
    align-items: flex-start;
    margin: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-box-item{
    text-align: center;
    width: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.service-item-box{
    display: flex;
    flex-direction: column;
    margin: 5% 0 5% 0;
}

.services-container, .contacts-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 10% 10% 10%;
}

.services-text, .contacts-text{
    font-size: 44px;
    font-weight: bold;
    margin: 50px 0 0 0;
    text-align: center;
}

.service-text-box{
    margin-top: 24px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 380px;
}

.service-box-paragraph, .contacts-box-paragraph{
    font-size: 28px;
    font-weight: bolder;
    margin: auto;
    margin-bottom: 5%;
}

.service{
    display: flex;
    flex-direction: column;
    margin: 80px 17% 0 17%;
}


.service-item-main-text{
    margin-top: 20px;
    font-size: 28px;
}

.service-item-text{
    margin-top: 20px;
    font-size: 18px;
}

.submain-text{
    margin-top: 39px;
    font-size: 28px;
    font-weight: normal;
    line-height: 35px;
    height: 80px;
    width: 800px;
}

.techology-box{
    align-items: flex-start;
    margin: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.technology-container-text{
    width: 40%;
}

.technology-text{
    margin-bottom: 30px;
    font-size: 19px;
}

.wide{
    width: 100%;
}
ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
}

li {
    margin-right:5px; /*Добавляем отступ у пунктов меню*/
}

/*font:hover {*/
/*    box-shadow: 2px 2px 10px grey;*/
/*}*/

a,
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: black;
}

a:hover{
    font-weight: bolder;
}

span{
    text-align: justify
}