{% extends "mainapp/base.html" %}
{% load static %}
{#{% load project_tags %}#}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
    <div class="first-content">
        <div class="main-text">
            <span>Сделаем дом умнее</span>
            <div class="submain-text">Проектирование и установка системы “Умный дом” европейского стандарта KNX</div>
            <div class="buttons-on-first-content">
                <button class="callback-first-content">
                    Оставить заявку
                </button>
                <button class="video-first-content">
                    <img class="img-icon-video" src="{% static 'img/play_video.svg' %}" alt="Обратный звонок">
                    Посмотреть видео
                </button>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="services-text">Наши услуги</div>
        <div class="services-box">
            <div class="service-box-item">
                <img class="img-service" src="{% static 'img/img_project.svg' %}" alt="Проектирование">
                <span class="service-item-main-text">Проектирование</span>
                <span class="service-item-text">Разработка проекта электроснабжения и автоматизации с учетом Ваших пожеланий и требований европейского стандарта KNX.</span>
            </div>
            <div class="service-box-item">
                <img class="img-service" src="{% static 'img/img_sale.svg' %}" alt="Поставка">
                <span class="service-item-main-text">Поставка оборудования</span>
                <span class="service-item-text">Поставка оборудования под ваш интерьер от мировых брендов: Schneider, Legrand, Gira, Jung Zennio, Thinknx.</span>
            </div>
            <div class="service-box-item">
                <img class="img-service" src="{% static 'img/img_montage.svg' %}" alt="Монтаж">
                <span class="service-item-main-text">Монтаж системы</span>
                <span class="service-item-text">Установка системы умный дом на объекте, технический надзор монтажных работ по электрике.</span>
            </div>
            <div class="service-box-item">
                <img class="img-service" src="{% static 'img/img_programm.svg' %}" alt="Монтаж">
                <span class="service-item-main-text">Программирование</span>
                <span class="service-item-text">Программирование и настройка системы умный дом на базе лицензионного программного обеспечения.</span>
            </div>
        </div>
    </div>
{% endblock %}