{% extends "mainapp/base.html" %}
{% load static %}
{#{% load project_tags %}#}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
    <div class="first-content">
        <div class="main-text">
            <span>Сделаем дом умнее</span>
            <div class="submain-text">Проектирование и установка системы “Умный дом” европейского стандарта KNX</div>
            <div class="buttons-on-first-content">
                <button class="callback-first-content">
                    Оставить заявку
                </button>
                <button class="video-first-content">
                    <img class="img-icon-video" src="{% static 'img/play_video.svg' %}" alt="Обратный звонок">
                    Посмотреть видео
                </button>
            </div>
        </div>
    </div>
{% endblock %}