{% extends "mainapp/base.html" %}
{% load static %}
{#{% load project_tags %}#}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
    <div class="services-container">
        <div class="services-text">Наши услуги</div>
        <div class="chapter-box">
            <div id="project" class="service">
                <div class="service-item-box">
                    <div class="service-text-box">
                        <span class="service-box-paragraph">Проектирование</span>
                        <span class="box-inside-text">Проектная документация - это неотъемлемая часть реализации наших объектов.</span>
                        <span class="box-inside-text">Чтобы успешно реализовать объект, необходимо тщательно разработать проект на основе технического задания,
                        в котором следует учесть все технические особенности объекта, данные по смежному инженерному оборудованию и все пожелания заказчика. При этом, проект
                        не должен противоречить действующим нормативным документам, а также должен быть полностью укомплектован </span>
                    </div>
                    <img class="img-service-project" src="{% static 'img/project.png' %}" alt="Проектирование">
                </div>
                <div class="service-item-box">
                    <div class="service-text-box wide">
                        <span class="box-inside-text">Именно поэтому наши проекты электроснабжения и автоматизации на базе протокола KNX успешно подходят как для согласования в
                        управляющих компаниях, так и для осуществления монтажных работ. Также, в процессе реализации объекта, в большинстве случаев, в проектную документацию вносятся
                        изменения, чтобы отобразить все актуальные изменения. В конце реализации объекта, когда все кабельные линии проложены, щит смонтирован, на основе данного проекта
                        выполняется проектная документация и после сдачи объекта заказчику передается полный комплект документов по объекту.</span>
                    </div>
                </div>
            </div>
            <div id="montage" class="service">
                <div class="service-item-box">
                    <img class="img-service-project" src="{% static 'img/montage1.jpg' %}" alt="Монтаж">
                    <div class="service-text-box">
                        <span class="service-box-paragraph">Монтажные работы</span>
                        <span class="box-inside-text">Проектная документация - это неотъемлемая часть реализации наших объектов.</span>
                        <span class="box-inside-text">Чтобы успешно реализовать объект, необходимо тщательно разработать проект на основе технического задания,
                        в котором следует учесть все технические особенности объекта, данные по смежному инженерному оборудованию и все пожелания заказчика. При этом, проект
                        не должен противоречить действующим нормативным документам, а также должен быть полностью укомплектован </span>
                    </div>
                </div>
                <div class="service-item-box">
                    <div class="service-text-box wide">
                        <span class="box-inside-text">Именно поэтому наши проекты электроснабжения и автоматизации на базе протокола KNX успешно подходят как для согласования в
                        управляющих компаниях, так и для осуществления монтажных работ. Также, в процессе реализации объекта, в большинстве случаев, в проектную документацию вносятся
                        изменения, чтобы отобразить все актуальные изменения. В конце реализации объекта, когда все кабельные линии проложены, щит смонтирован, на основе данного проекта
                        выполняется проектная документация и после сдачи объекта заказчику передается полный комплект документов по объекту.</span>
                    </div>
                </div>
            </div>
            <div id="sale" class="service">
                <div class="service-item-box">
                    <div class="service-text-box">
                        <span class="service-box-paragraph">Поставка оборудования</span>
                        <span class="box-inside-text">Проектная документация - это неотъемлемая часть реализации наших объектов.</span>
                        <span class="box-inside-text">Чтобы успешно реализовать объект, необходимо тщательно разработать проект на основе технического задания,
                        в котором следует учесть все технические особенности объекта, данные по смежному инженерному оборудованию и все пожелания заказчика. При этом, проект
                        не должен противоречить действующим нормативным документам, а также должен быть полностью укомплектован </span>
                    </div>
                    <img class="img-service-project" src="{% static 'img/sale1.jpg' %}" alt="Sale">
                </div>
                <div class="service-item-box">
                    <div class="service-text-box wide">
                        <span class="box-inside-text">Именно поэтому наши проекты электроснабжения и автоматизации на базе протокола KNX успешно подходят как для согласования в
                        управляющих компаниях, так и для осуществления монтажных работ. Также, в процессе реализации объекта, в большинстве случаев, в проектную документацию вносятся
                        изменения, чтобы отобразить все актуальные изменения. В конце реализации объекта, когда все кабельные линии проложены, щит смонтирован, на основе данного проекта
                        выполняется проектная документация и после сдачи объекта заказчику передается полный комплект документов по объекту.</span>
                    </div>
                </div>
            </div>
            <div id="programming" class="service">
                <div class="service-item-box">
                    <img class="img-service-project" src="{% static 'img/programming1.jpg' %}" alt="Программирование">
                    <div class="service-text-box">
                        <span class="service-box-paragraph">Программирование</span>
                        <span class="box-inside-text">Проектная документация - это неотъемлемая часть реализации наших объектов.</span>
                        <span class="box-inside-text">Чтобы успешно реализовать объект, необходимо тщательно разработать проект на основе технического задания,
                        в котором следует учесть все технические особенности объекта, данные по смежному инженерному оборудованию и все пожелания заказчика. При этом, проект
                        не должен противоречить действующим нормативным документам, а также должен быть полностью укомплектован </span>
                    </div>
                </div>
                <div class="service-item-box">
                    <div class="service-text-box wide">
                        <span class="box-inside-text">Именно поэтому наши проекты электроснабжения и автоматизации на базе протокола KNX успешно подходят как для согласования в
                        управляющих компаниях, так и для осуществления монтажных работ. Также, в процессе реализации объекта, в большинстве случаев, в проектную документацию вносятся
                        изменения, чтобы отобразить все актуальные изменения. В конце реализации объекта, когда все кабельные линии проложены, щит смонтирован, на основе данного проекта
                        выполняется проектная документация и после сдачи объекта заказчику передается полный комплект документов по объекту.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
